@import "tailwindcss";

html {
  font-family: "Suse";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #000428;
}

body {
  background-image: radial-gradient(circle, #0004ae, #000428);
  background-attachment: fixed;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-left text-4xl font-bold;
}

h3 {
  @apply font-bold;
}
